{% extends "layout.html" %}

{% block content %}
    <h1 align="center" class="text-center">Sobre a página =)</h1>
        <div class="media-body">
            <div class="article-metadata">
              <br/>
              <p>
                  <h4 class="text-center"><strong>Uma página web construida com Flask</strong></h4><br>
                  O objetivo dessa aplicação tem por objetivo o estudo e aplicação de Flask e alguns frameworks
                  na criação de paginas na web, CRUD e etc...
              </p>
            </div>
        </div>
{% endblock content %}