{% extends "layout.html" %}
{% block conteudo %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Nova Postagem</legend>
            <div class="form-group">
                {{ form.titulo.label(class="form-control-label") }}
    
                {% if form.titulo.errors %}
                    {{ form.titulo(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.titulo.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.titulo(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.conteudo.label(class="form-control-label") }}
                {% if form.conteudo.errors %}
                    {{ form.conteudo(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.conteudo.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.conteudo(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.enviar(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock conteudo %}

