{% extends "layout.html" %}

{% block conteudo %}
    <h1 align="center">Sobre nosso Hotel =)</h1>
        <div class="media-body">
            <div class="article-metadata">
              <br/>
              <p>
                  <h4><strong>Xuqnimirrain, Berrain, Foiyu e Kipsi my baby</strong></h4><br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. TO ENCHENDO LINGUIÇA Suspendisse consectetur dapibus tempus. Proin sit amet felis viverra, pellentesque augue a, condimentum nisi. Maecenas ullamcorper felis velit, non elementum libero rhoncus eu. Proin et dignissim dui, vel lobortis mi. Nam malesuada dapibus eros sed mollis. In in magna sem. Maecenas ut libero venenatis, mollis sem nec, porta justo. Nulla finibus egestas consequat.
                  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam eget congue mauris, eget convallis massa. Morbi massa ex, luctus nec blandit a, sollicitudin sit amet ante. Proin ut quam at magna euismod mollis eu nec massa. Maecenas blandit nunc eu tristique imperdiet. Pellentesque non erat enim. Nunc lobortis turpis a nulla tincidunt cursus. Morbi in nisi nec velit pellentesque molestie. Aenean feugiat aliquet consequat.
                  Fusce vel nisi tortor. Etiam imperdiet arcu arcu, fermentum consectetur tellus mattis eu. Aliquam pharetra risus eros, nec sollicitudin sapien cursus vitae. Duis est purus, scelerisque quis rutrum in, efficitur at nibh. Integer nec nisl elementum, lobortis ligula nec, fringilla felis. Fusce porta dolor id sem sodales, vitae tempus est posuere. Nulla at aliquet est, at facilisis lorem. Mauris tempor, magna sed fermentum pharetra, augue justo tincidunt nibh, eget tincidunt lectus est eget odio. Vivamus sit amet tincidunt risus, ac hendrerit dui. Duis lacus ipsum, iaculis quis metus in, cursus dapibus libero. Donec euismod, erat non elementum ullamcorper, magna nisi maximus arcu, nec hendrerit nibh mauris non turpis. In blandit quam tellus. Duis euismod urna ut dapibus venenatis. Etiam ornare pretium lacus, quis laoreet urna congue nec. Etiam non massa neque. Donec porta sem sit amet elit lobortis mattis.
              </p>
            </div>
        </div>
{% endblock conteudo %}